build/
install/
log/
runs/
training_runs/
sample_frames/
dataset/images/
dataset/train/images/
dataset/val/images/
*.jpg
gazebo_models.zip
gazebo_log.txt
train_log.txt
__pycache__/
*.pyc
packages.microsoft.gpg
*.cache
.vscode/

# Unity
unity/RoboCarDetection/Library/
unity/RoboCarDetection/Logs/
unity/RoboCarDetection/obj/
unity/RoboCarDetection/Temp/
unity/RoboCarDetection/UserSettings/
*.meta.bak
rl_logs/
